@model Pokemon.Models.PokemonModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PokemonModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pokemon_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pokemon_name)
                @Html.ValidationMessageFor(model => model.pokemon_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pokemon_type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pokemon_type)
                @Html.ValidationMessageFor(model => model.pokemon_type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pokemon_level, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pokemon_level)
                @Html.ValidationMessageFor(model => model.pokemon_level)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trainer_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trainer_id)
                @Html.ValidationMessageFor(model => model.trainer_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
