@model Pokemon.Models.TrainerModel

@{
    ViewBag.Title = "Trainers_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trainers_Details</h2>

<div>
    <h4>TrainerModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trainer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trainer_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainer_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trainer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
